body{
    margin:0;
    padding: 0;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-direction: column;
}

header{
    background-color: black;
    color: white;
    margin: 0;
    text-align: center;
    height: 50px;
}
li{
    list-style-type: none;
    display: inline;
    font-size: 18px;
    margin: 18px 2px;
    padding: 5px 5px 5px 3px;
    align-items: center;
    justify-content: center;
    
}
li a:hover{
    color: rgb(212, 159, 62);
    cursor: pointer;
}
a{
    text-decoration: none;
    color: white;
    padding-left: 10px;
}

nav{
    display: flex;
    align-items: center;
}
footer{
    background-color: black;
    color: white;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
main{
    margin: 0 0 4px;
    height: 100%;
    padding: 20px;
}
h1{
    color: orangered;


}
form input{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 450px;
}